@charset "utf-8";
/* CSS Document */
* {padding:0; margin:0;}
body {background-color:#787878;}
.clr {clear:both;}
.karkas {width:990px; 
         margin:0 auto; 
		 background-color:#fff; 
		 padding:0 5px 0 5px; 
		 color:#616161; 
		 font:normal 12px Georgia, "Times New Roman", Times, serif;}
a {color:#8b0209; 
   text-decoration:none}	
.sidebar a:hover, .main a:hover, .others a:hover, .footer a:hover, .menu a:hover {text-decoration:underline;}
li {list-style:none;}
.sidebar, .main, .others {float:left;} 	 
.sidebar {width:240px;}
.others {width:220px;}
.main {width:510px;}
.header {padding:31px 100px 29px 20px;}
.header img {float:left; margin-right:11px;}
h1 { font:normal 10px Georgia, "Times New Roman", Times, serif; color:#000;}
h1 a span {color:#000;}
h1 a {font-size:34px;}
.menu {background:url(images/menu.jpg) 0 0 no-repeat; height:50px; margin-bottom:20px;}
.menu li {float:left;}
.menu a {display:block;
         color:#fff; 
		 padding:0 31px 0 30px; 
		 line-height:50px; height:50px; 
		 background:url(images/line.gif) right 0 no-repeat;}
h3 {background:url(images/img05.jpg) 0 0 no-repeat; 
    width:220px; height:40px;
	padding-left:16px; 
	line-height:40px;
	color:#fff; font-size:16px;}
.sidebar li,.others li {background:url(images/dosh.gif) 0 bottom repeat-x; margin:0 40px 0 15px; padding:10px 0 9px 0;}	
.others li { margin-right:20px;}	
.sidebar ul,.others ul  {margin-bottom:20px;}
.bold {font-weight:bold;}
h2 { font-size:18px;}
h4, .read {font-weight:bold;}
h2, h4, .read { color:#8b0209;}
h5 {font:normal 10px Georgia, "Times New Roman", Times, serif; 
     padding:3px 0 7px 0; background:url(images/dosh.gif) 0 bottom repeat-x; margin-bottom:27px;}
.main p, .main blockquote, .main li {line-height:24px;}	 	
.main img {margin-bottom:19px;}
.main ul li {list-style-type: disc;}
.read {margin:27px 0 51px 0; float:right;} 
h4, .main blockquote, .main ul   {margin-bottom:23px;}
.main blockquote,.main li  {margin-left:40px;}	
.main blockquote {margin-right:41px;} 
.main ul.last {margin-bottom:0;}
.others {padding-left:20px;}
ol li {list-style-type: decimal;}
input {border:solid 1px #c98185; margin:10px 10px 20px 15px;}
.tags {margin:14px 0 31px 15px;}
th { font-weight:bold;}
table {margin:0 5px 18px 15px;}
td {height:18px; width:27px; text-align:center;}
th {height:20px;  width:27px;}
td.month {height:22px; text-align:left; color:#8b0209;}
.sidebar, .main, .others {padding-bottom:20px;} 
.footer {clear:both; 
         font-size:10px; 
		 border-top:solid 1px #bbb; 
		 padding:26px 200px 33px 20px; 
		 position:relative;
		 }
.footer span {position:absolute; bottom:33px; right:21px;}